<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.anlan.mapper.RedPacketMapper" >

    <!--查询红包具体信息-->
    <select id="getRedPacket" resultType="club.anlan.pojo.RedPacket">
        select id,user_id,amount,send_time,total,unit_amount,stock,version,note
        from red_packet
        where id = #{id}
    </select>

    <!--扣减红包库存-->
    <update id="decreaseRedPacket">
        update red_packet set stock = stock - 1 where id = #{id}
    </update>

    <!--新增红包-->
    <insert id="addNewRedPacket"  parameterType="club.anlan.pojo.RedPacket">
        INSERT INTO red_packet (user_id,amount,send_time,total,unit_amount,stock,note)
        VALUES(0,#{total}*#{unitAmount},NOW(),#{total},#{unitAmount},#{total},concat(#{total}*#{unitAmount},'金额，',#{total},'个红包，每个',#{unitAmount},'元'))
    </insert>

    <!--清空表并重置索引-->
    <update id="truncate">
        truncate table red_packet
    </update>

    <!--查询红包具体信息 for update-->
    <select id="getRedPacketForUpdate" resultType="club.anlan.pojo.RedPacket">
        select id,user_id,amount,send_time,total,unit_amount,stock,version,note
        from red_packet
        where id = #{id} for update
    </select>



</mapper>